/* Links */

/* Tags */

ul, li {
    list-style: none;
}

.box-list li{
	display: inline-block;
}

.box-list_link a{
    color: blue;
}

.box-list_button a{
    font-style: normal;

    font-weight: 600;
    color: #191919;
    font-size: 18px;
}

.div-button button{
    position: relative;
    left: 370px;
    margin-bottom: 25px;
}

/* Class */

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: blue;
    
    margin-left: 50px;
    width: 700px;
}

.box-list {
    background-color: rgb(241, 241, 241);

    height: 50px;
    border-radius: 5px;
}

.box-list_link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    text-align: left;

    margin-left: -50px;
    width: 400px;
    margin-top: 12px;
    margin-bottom: -4px;
}

.box-list_button{
    text-align: center;
    direction: ltr;
    align-self: center;

    margin-left: 25px;
    width: 55px;
}

.options {
    margin: -20px 0 10px 0;
    text-align: center;
}

.li-btn-more {
    list-style: none;
    padding: 90px 65px;
}

/* IDs */

#btn-more {
    text-decoration: none;
	cursor: pointer;
    border-radius: 100%;
    color: #ffffff;
    font-size: 26px;
    background: #6506FF;
    height: 50px;
    width:50px;
    padding: 6px
  }
  
#btn-more:hover {
    background: #AD00FF;
    text-decoration: none;
    transition-duration: 0.4s;
  }