/* Links */

/* Tags */

.ol p {
    font-style: normal;
    font-weight: normal;

    color: #191919;
    font-size: 16px;
    padding: 0px 15px 0px 15px;
}

.ol a {
    font-style: normal;
    font-weight: bold;
    text-align: center;

    color: #191919;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
}

.div-button button {
    position: relative;
    left: 370px;
    margin-bottom: 25px;
}

/* Class */

.ol {
    display: grid;
    justify-content: center;
    text-align: center;

    grid-template-columns: 1fr 1fr 1fr;
}

.post-it {
    list-style: none;

    background-color: rgba(238, 232, 143, 0.904);
    border-bottom: solid 7.5px rgba(241, 227, 30, 0.904);
    
    width: 250px;
    border-radius: 25px;
    margin: 1.5px 5px 10px;
}

.options {
    margin: -20px 0 10px 0;
    text-align: center;
}

.li-btn-more {
    list-style: none;
    padding: 90px 65px;
}

.vertical {
    border: 1px solid;
    transform: rotate(90deg);
    width: 20px;
    color: #191919;
}

/* IDs */

#btn-more {
    text-decoration: none;
	cursor: pointer;
    border-radius: 100%;
    color: #ffffff;
    font-size: 26px;
    background: #6506FF;
    height: 50px;
    width:50px;
    padding: 6px
  }
  
#btn-more:hover {
    background: #AD00FF;
    text-decoration: none;
    transition-duration: 0.4s;
  }